:root {
    --dark: #1D325F;
    --primary: #E6B850;
    --white: #F0F0F0;
    --mainFont: 'Roboto Condensed', sans-serif;
  
  }

  body {
    font-family: var(--mainFont);
    background-color: var(--white) !important;
  }

h1{
    font-family: var(--mainFont);
    font-weight: 700 !important;
    color: var(--dark);

}

h2{
    font-family: var(--mainFont);
    color: var(--dark);
    font-weight: 700 !important;
}

h3{
    font-family: var(--mainFont);
    font-weight: 700 !important;
    font-size: 18px;

}


p{
    font-family: var(--mainFont);
    font-weight: 300 !important;
    font-size: 16px;
    color: #1D325F;
}

a{
    font-family: var(--mainFont);
}

li{
    font-family: var(--mainFont);
}


/* ---------------Header----------------- */

.cabeza{
 width: 100%;
 justify-content: space-between;

}

.logo{
    width: 100%;
}


/* ----------Banner------------- */
.banner{

    color: #1D325F;
}

/* ---------Contenido---------- */
.contenido{
    background-color: #F0F0F0;
    justify-content: center;
}

.contenido img{
    width: 100%;
}

.contenido h3{
    color: #1D325F;
}

.contenido2{
    background-color: #1D325F;
    justify-content: center;
}

.contenido2 p{
    color: #F0F0F0;
}
.contenido2 h3{
    color: #F0F0F0;
}


/* ----------Footer------------- */

.pie{
    background-color: #1D325F;
    color: white;

}

.pie h3{
    color: white;
}

.pie a{
    color: #F0F0F0;
}
.pie a{
    color: #F0F0F0;
}

.pie a:hover{
    color: #E6B850;
    text-decoration: none;
}
