:root {
    --dark: #1D325F !important;
    --primary: #E6B850;
    --white: #F0F0F0;
    --grey: #F6F6F6;
    --light-grey: #EBEEFA;
    --muted: #F0F0F0;
    --mainFont: 'Roboto Condensed', sans-serif;
  
  }

body {
    font-family: var(--mainFont);
    background-color: var(--white) !important;
    color: var(--dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .bg-dark { background-color: var(--dark) !important; }


h1{
    font-family: var(--mainFont);
    font-weight: 700 !important;
    color: var(--dark);

}

h2{
    font-family: var(--mainFont);
    color: var(--dark);
    font-weight: 700 !important;
}

h3{
    font-family: var(--mainFont);
    font-weight: 700 !important;
    color: var(--dark);
    font-size: 18px;

}

h4{
    font-family: var(--mainFont);
    font-weight: 400 !important;
    color: var(--dark);
    font-size: 18px !important;

}

p{
    font-family: var(--mainFont);
    font-weight: 3git 00 !important;
    font-size: 16px;
    color: var(--dark);
}

a{
    font-family: var(--mainFont);
    color: var(--primary);
    text-decoration: none;
}

li{
    font-family: var(--mainFont);
}

small { font-size: var(--small); }

.bg-dark { background-color: var(--dark) !important; }
.bg-grey { background-color: var(--grey); }

.text-muted { color: var(--muted) !important; }
.text-dark { color: var(--dark) !important; }

.fw-medium { font-weight: var(--medium); }


/* ----------Banner------------- */
.banner{
    /* margin-top: 7%; */
    color: var(--dark);
}

/* ---------Contenido---------- */
.contenido{
    background-color: #F0F0F0;
    justify-content: center;
}

.contenido img{
    width: 100%;
}

.contenido h3{
    color: var(--dark);
}

.contenido2{
    background-color: #1D325F;
    justify-content: center;
}

.contenido2 p{
    color: #F0F0F0;
}
.contenido2 h3{
    color: #F0F0F0;
}

.btn-dark{
    background-color: var(--dark) !important;
}


/* ----------Footer------------- */

.pie{
    background-color: #1D325F;
    color: white;

}

.pie h3{
    color: white;
}

.pie a{
    color: #F0F0F0;
}
.pie a{
    color: #F0F0F0;
}

.pie a:hover{
    color: #E6B850;
    text-decoration: none;
}
